

@import url("components/components-container.css");
@import url("components/components-banner.css");
@import url("components/components-cards.css");
@import url("components/components-button.css");
@import url('Image/pexels-sarimphotos-1033729.jpg');

h1 {
   font-size : 40px;
   font-family: "Roboto", sans-serif;
   font-weight: bold;
   color : #ffffff;
   text-shadow: 0 2px 6px rgba(0,0,0,0.6);
}

h2 {
   font-size : 25px;
   font-family: "Roboto", sans-serif;
   color : #ffffff;
   text-shadow: 0 2px 6px rgba(0,0,0,0.6);
}

h3 {
   font-size : 25px;
   font-family: "Roboto", sans-serif;
   color : black;
}

p {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}
